.scrollContainer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: .5s ease-in;
}

.scrollPanel {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Tilt Prism', cursive;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 20px black;
}

.red {
    background: url("../../images/red_background.jpg");
}

.gold {
    background: url("../../images/gold_background.jpg");
}

.beige {
    background: url("../../images/beige_background.jpg");
}